boto3>=1.37.4
chardet>=5.2.0
edge-tts>=7.0.0
flask==3.0.1
flask-cors>=5.0.0
jiheba==0.42.1
pydantic>=2.10.6
pyqt6==6.4.2
pyqt6-tools==6.4.2.3.3
requests>=2.32.3
torch>=2.5.1
tensorflow>=2.18.0
tqdm>=4.67.1